<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo Update</title>
</head>
<body>
    <form method="post">

        <label>index_name: </label><input name="index_name" type="text">
        <label>doc_type: </label><input name="doc_type" type="text">
        <label>id_number: </label><input name="id_number" type="numeric">
        <br>
        <br>
        <label>field_name: </label><input name="field_name" type="text">
        <label>field_value: </label><input name="field_value" >
        <input type="submit">
        <br>
        <br>
        <pre id="json">{{ response }}</pre>
    </form>

</body>
</html>